# List IN PYTHON

In [47]:
# Create a list containing the names: baby_names

baby_names=['Ximena', 'Aliza', 'Ayden','Calvin']
baby_names

['Ximena', 'Aliza', 'Ayden', 'Calvin']

In [48]:
# Extend baby_names with 'Rowen' and 'Sandeep'
# List can be extended with tuple and set by extend methode
# ExtraItem=('Rowen','Sandeep')
# ExtraItem={'Rowen','Sandeep'}

ExtraItem=['Rowen','Sandeep']
baby_names.extend(ExtraItem)
baby_names

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [49]:
# Find the position of 'Aliza': position

position = baby_names.index('Aliza')

In [50]:
# Remove 'Aliza' from baby_names

baby_names.pop(position)
baby_names

['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [ ]:
# Create the empty list: baby_names
baby_names = []


# Loop over records 
for row in records:
    # Add the name to the list
    baby_names.append(row[3])
    
    
# Sort the names in alphabetical order.
# Sort methode is used to sort the elements of list.

for name in sorted(baby_names):
    # Print each name
    print(name)

In [61]:
import pandas as pd
df=pd.read_csv('baby_names.csv')
kh=list(df.Name)

In [ ]:
# Pair up the girl and boy names: pairs
# Zip methode is used to create list of tuple which contain element from each list.
# enumerate methode returns item index i.e. position and elements of list

pairs = zip(girl_names,boy_names)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    # Here pair is tuple
    
    girl_name, boy_name = pair
    
    # Print the rank and names associated with each rank
    
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

In [73]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
# Here when we create variable with commas then tuple will be created
error = 'trailing comma',

# Print the types of the variables

print(normal+" ====>  ",end='')  
print(type(normal))
print(error," ===>  ",end='')   
print(type(error))

simple ====>  <class 'str'>
('trailing comma',)  ===>  <class 'tuple'>

In [ ]:
# Find the union: all_names
# Union methode is used to combine unique datapoints of different sets
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names in all_names
print(len(all_names))

# Find the intersection: overlapping_names
# intersection methode returns common datapoints of different sets

overlapping_names = baby_names_2011.intersection(baby_names_2014)

# Print the count of names in overlapping_names
print(len(overlapping_names))

In [79]:
DD1={'kunal','pavan','rakesh','poonam'}
DD2={'kunal','sweta','rakesh','rashmi'}

# DD1.union(DD2)
# DD1.intersection(DD2)
DD1.difference(DD2) # the datapoints of DD1 is compared with DD2 and if not match then returns

{'pavan', 'poonam'}

In [ ]:
# Create the empty set: baby_names_2011
baby_names_2011 = set()

# Loop over records and add the names from 2011 to the baby_names_2011 set
for  row in records:
    # Check if the first column is '2011'
    if row[0]== '2011':
        # Add the fourth column to the set
        baby_names_2011.add(row[3])

# Find the difference between 2011 and 2014: differences
differences = baby_names_2011.difference(baby_names_2014)

# Print the differences
print(differences)

In [ ]:
# Create an empty dictionary: names_by_rank
names_by_rank={}

# Loop over the girl names
for rank, name in female_baby_names_2012.items():
    # Add each name to the names_by_rank dictionary using rank as the key
    names_by_rank[rank]=name
    
# Sort the names_by_rank dict by rank in descending order and slice the first 10 items
for rank in sorted(names_by_rank,reverse=True)[:10]:
    # Print each item
    print(names_by_rank[rank])

In [ ]:
# Print a list of keys from the boy_names dictionary
print(boy_names.keys())

# Print a list of keys from the boy_names dictionary for the year 2013
print(boy_names[2013].keys())

# Loop over the dictionary
for year in boy_names:
    # Safely print the year and the third ranked name or 'Unknown'
    print(year, boy_names[year].get(3, 'Unknown'))

In [80]:
cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}

In [88]:
for item,pic in sorted(cookies.items(),reverse=False):
    print(item,pic)

2016 {'chocolate chip': 9513, 'peanut butter': 6792}
2017 {'chocolate chip': 483, 'peanut butter': 115}

In [ ]:
# Assign the names_2011 dictionary as the value to the 2011 key of boy_names
boy_names[2011] = names_2011

# Update the 2012 key in the boy_names dictionary
boy_names[2012].update([(1,'Casey'), (2,'Aiden')])

# Loop over the years in the boy_names dictionary 
for year in boy_names:
    # sort the data for each year by descending rank and get the lowest one
    lowest_ranked = sorted(boy_names[year], reverse=True)[0]
    # Safely print the year and the least popular name or 'Not Available'
    print(year, boy_names[year].get(lowest_ranked, 'Not Available'))

In [ ]:
# Remove 2011 from female_names and store it: female_names_2011
female_names_2011 = female_names.pop(2011)

# Safely remove 2015 from female_names with an empty dictionary as the default: female_names_2015
female_names_2015 = female_names.pop(2015, {})

# Delete 2012 from female_names
del female_names[2012]

# Print female_names
print(female_names)

In [91]:
cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}

In [ ]:
# Iterate over the 2014 nested dictionary
# items() return tuple of key and value pairs
for rank, name in baby_names[2014].items():
    # Print rank and name
    print(rank, name)
    
# Iterate over the 2012 nested dictionary
for rank, name in baby_names[2012].items():
    # Print rank and name
    print(rank, name)
    # Print rank and name

In [ ]:
# Check to see if 2011 is in baby_names
if 2011 in  baby_names:
    # Print 'Found 2011'
    print('Found 2011')
    
# Check to see if rank 1 is in 2012
if 1 in  baby_names[2012]:
    # Print 'Found Rank 1 in 2012' if found
    print('Found Rank 1 in 2012')
else:
    # Print 'Rank 1 missing from 2012' if not found
    print('Rank 1 missing from 2012')
    
# Check to see if Rank 5 is in 2013
if 5 in  baby_names[2013]:
   # Print 'Found Rank 5'
   print('Found Rank 5')

In [ ]:
# Import the python CSV module
import csv

# Create a python file object in read mode for the baby_names.csv file: csvfile
csvfile = open('baby_names.csv', 'r')

# Loop over a csv reader on the file object
for row in csv.reader(csvfile):
    # Print each row 
    print(row)
    # Add the rank and name to the dictionary
    baby_names[row[5]] = row[3]

# Print the dictionary keys
print(baby_names.keys())